<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxzhishu.platform.app.system.mapper.SysAccountVsRoleMapper">
    <sql id="basesql">
        account_id,role_id
    </sql>
    <delete id="deleteVsInfo">
        delete from sys.account_vs_role
        where role_id = #{roleId}
        and account_id = #{accountId}
    </delete>
    <select id="findData" resultType="com.yxzhishu.platform.app.system.entity.po.SysAccountVsRole">
        select
            <include refid="basesql"/>
        from sys.account_vs_role
        <where>
            <if test="accountId != null">
                and account_id = #{accountId}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
        </where>
    </select>
</mapper>